[submodule "my-theme/themes/ananke"]
	path = my-theme/themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "my-theme/themes/minimal"]
	path = my-theme/themes/minimal
	url = https://github.com/calintat/minimal.git
